    html {
      --lumo-size-xl: 4rem;
      --lumo-size-l: 3rem;
      --lumo-size-m: 2.5rem;
      --lumo-size-s: 2rem;
      --lumo-size-xs: 1.75rem;

    }

    .registration-form-container {
          padding: 0 20%;
    }

    .registration-form-container h1 {
          text-align: center;
          margin-bottom: 1rem;
    }

    .registration-form-container form {
          display: flex;
          flex-direction: column;
          gap: 1rem;
    }

    .registration-form-container button {
          margin-top: 1rem;
          align-self: flex-start;
    }

    .registration-form-container button.half-width {
        width: 50%;
    }